{% extends "base.html" %}

{% block title %}更改密碼{% endblock %}

{% block main %}
<h2>歡迎使用者: {{ cookie }}</h2>
<div class="container">
    <h1>更改密碼:</h1>
    <div>
        <form action="/home/change_password/judge" method="post">
            <input type="password" name="old_password" placeholder="原密碼"><br>
            <input type="password" name="new_password" placeholder="新密碼"><br>
            <input type="password" name="new_password_check" placeholder="確認新密碼"><br>
            <input type="submit" value="送出">
    </div>
</div>

{% endblock %}