<!-- 宣告我們要套用模板 -->
{% extends "base.html" %}

{% block title %}介紹{% endblock %}

{% block main %}

<h2>歡迎使用者: {{ account }}</h2>
  <div class="jumbotron">
      <h1 class="boldText">海獺姬資料庫管理系統</h1>
      <p>我也不知道我幹嘛做這個(</p><hr>
      <a class="register">萌星群以及海獺群組專用，註冊請獲取通行碼，現在通行碼為:</a><a class="text-danger register2"> Arcaea</a>
  </div>
  <div class="container">
      <div class="row justify-content-md-center">
        <div class="col bg-white"><img src="/static/img/headshot.png"></div>
        <div class="col bg-white align-middle">URL:<img src="/static/img/url.png"></div>
      </div>
  </div>

{% endblock %}