<!-- 宣告我們要套用模板 -->
{% extends "base.html" %}

{% block title %}介紹{% endblock %}

{% block main %}
<h2>歡迎使用者: {{ cookie }}</h2>
<div class="jumbotron">
    <h1 class="boldText">海獺姬介紹</h1>
    <p>一款挑戰自我極限的LineBot</p><hr>
    <a class="register">開發使用Python的網頁框架-</a><a class="text-danger register2"> FastAPI</a>
</div>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col bg-white"><img src="../static/img/headshot.png">海獺姬啾咪~</div>
      <div class="col bg-white align-middle">URL:<img src="../static/img/url.png"></div>
    </div>
</div>

{% endblock %}