<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>海獺姬資料庫系統</title>
</head>
<body>
    <div>
        <h1>海獺姬資料庫系統</h1>
    </div>
    <div>
        <form action="/home" method="post">
            <input type="text" name="account" placeholder="帳號"><br>
            <input type="password" name="password" placeholder="密碼"><br>
            <input type="submit" value="登入">
    </div>
    <div>
        <a href = "/register" style="text-decoration:underline">沒有帳號?</h3>
    </div>
</body>
</html>