<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊帳號</title>
</head>
<body>
    <div>
        <h1>註冊系統</h1>
        <form action="/register/judge" method="post">
            <input type="text" name="account" placeholder="帳號"><br>
            <input type="password" name="password" placeholder="密碼"><br>
            <input type="password" name="passwordCheck" placeholder="再次確認密碼"><br>
            <input type="text" name="checkPwd" placeholder="通行碼"><br>
            <input type="submit" value="註冊">
    </div>
</body>
</html>